.category {
  display: flex;
  height: 350px;
  width: 350px;
  background-color: white;
  box-shadow: 0 0 10px black;
}
.category img {
  width: 100%;
  object-fit: contain;
  max-height: 250px;
  padding: 0px 10px;
  padding-left: 45px;
}
.category a {
  color: black;
  text-decoration: none;
}
.category h2,
.category p {
  padding: 5px;
  margin-left: 13px;
}
.category p {
  font-size: 12px;
  font-weight: bold;
  color: aqua;
}
.category_container {
  position: relative;
  margin-top: -10px;
  display: flex;
  justify-content: space-around;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
}
@media screen and (max-width: 760px) {
  .category_container {
    flex-direction: column !important;
  }
  .category {
    width: 70%;
  }
}
